<mat-stepper orientation="vertical" linear="false">
  <mat-step [stepControl]="stepOne">
    <ng-template matStepLabel>Grundlagen</ng-template>
    <form [formGroup]="stepOne">
      <div style="display: flex; flex-direction: column; margin: 2rem 0">
        <mat-form-field>
          <mat-label>Typ der Immobilie</mat-label>
          <!-- TODO: Move this into a pipe and iterate through each enum type -->
          <mat-select required formControlName="propType">
            <mat-option [value]="PropertyType.HOUSE">Haus</mat-option>
            <mat-option [value]="PropertyType.APPARTMENT">Wohnung</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bundesland der Immobilie</mat-label>
          <mat-select required formControlName="stateType">
            <mat-option *ngFor="let state of estateTaxForFederalStates" [value]="state.value">
              {{state.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Preis der Immobilie</mat-label>
          <input matInput required type="number" class="example-right-align" placeholder="0" formControlName="propPrice">
          <span matTextPrefix>€&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Initiale Kosten</ng-template>
    <form [formGroup]="stepTwo">
      <div style="display: flex; flex-direction: column; margin: 2rem 0">
        <mat-form-field>
          <mat-label>Maklerprozente</mat-label>
          <input matInput required type="number" class="example-right-align" placeholder="5" formControlName="agentCosts">
          <span matTextSuffix>%&nbsp;</span>
        </mat-form-field>
        <button (click)="test()">Test</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
